:root{
    --color-text: #262533;
    --color-bg: #252525;
    --color-link: #fff;
    --color-link-hover: #ec0a3f;
    --color-bg-item1: #15171b;
    --color-bg-item2: #2c35b7;
    --color-bg-item3: #252933;
    --color-bg-item4: #1d2027;
    --color-bg-item5: #0f1013;
    --color-item-alt: #494d54;
    --color-quote: #5b677a;
    --color-info: #57535a;
    --color-title: #0f0c0c;
    --color-tagline: #e2e2e2;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}


html {
    outline: 0;
    font-family: 'Roboto', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    outline: none;

}
a{
    color: #262533;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #262533;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn:focus {
    box-shadow: none;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #262533;
    color: var(--color-text);
    background-color: #fff;
    padding: 6rem 0 0 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}


a {
    text-decoration: none;
    outline: none;
    transition: color 0.2s;
}

/*
a:hover,
a:focus {
    color: #f9cc41;
    text-decoration: none;

}
*/

button:focus,
a:focus {
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

/* Icons */
.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

main {
    position: relative;
    width: 100%;
}

.frame {
    position: relative;
    z-index: 199;

}

.content {
    text-align: center;
    position: relative;
    z-index: 100;
}

.carousel-wrapper {
    perspective: 1000px;
}

.carousel-wrapper {
    /*    position: absolute;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

/* Header */
.header--logo {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: start;
    /*    background-color: #f9cc41;*/
}



.info {
    display: block;
    grid-area: info;
    margin: 1rem 0;
    justify-self: end;
    text-align: center;
}


/* Top Navigation Style */
.logo-links {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    font-size: 0.85rem;
}


.action {
    background: none;
    border: 0;
    color: #222;
    cursor: pointer;
    padding: 0;
    height: 100px;
    width: 100px;
    background: #f9cc41;
    display: inline-block;
}

.action--menu {
    pointer-events: auto;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
}

.menu--open .action--menu {
    pointer-events: none;
}

.action--close {
    position: absolute;
    top: 1.5rem;
    right: 1.75rem;
    z-index: 1000;
    opacity: 0;
    padding: 0 0.5rem;
}

.icon--menu {
    width: 2rem;
}

.icon--close {
    width: 1rem;
}

.home-slider .carousel-caption {
    width: 100%;
    height: 100%;
    left: 0 !important;
}

.home-slider .carousel-caption h3 {
    color: #262533;
    text-align: left;
    padding: 130px 225px 0px 122px;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px auto 25px;
}

.home-slider .carousel-indicators .active {
    opacity: 1;
    height: 10px;
    width: 10%;
    margin: -3px 0px;
    background-color: #f9cc41;
}


.home-slider .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.hero__slideContent {
    position: absolute;
    width: 100%;
    /* bottom: 125px; */
    right: 0;
    transform: translateX(-50%);
    max-width: 400px;
    padding: 50px 30px;
    z-index: 5;
}

/*
.hero__slideContent:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #262533;
    clip-path: polygon(58% 0, 65% 6%, 94% 6%, 94% 38%, 100% 43%, 100% 0);
    left: -35px;
    bottom: -28px;
    transform: rotate(180deg);
    z-index: 1;
}
*/

.hero__slideContent h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero__slideContent p {
    margin-bottom: 35px;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
}

.hero__slideContent--right {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9cc41;
    clip-path: polygon(58% 0, 65% 6%, 94% 6%, 94% 38%, 100% 43%, 100% 0);
    left: 10px;
    top: -10px;
    z-index: 1;
}

.hero__slideContent:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(58% 0, 65% 6%, 94% 6%, 94% 38%, 100% 43%, 100% 100%, 0 100%, 0 0);
    background: #262533;
    z-index: -1;
}

.btn {
    border: 2px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
    padding: .5rem 1.6rem;
    position: relative;
    background: transparent;
}

.btn:hover {
    background: #f9cc41;
    border-color: #f9cc41;
    color: #262533;
}

.btn--leftBorder:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1.25rem;
    min-width: 1.25rem;
    height: 2px;
    background: #fff;
}

.btn--rightBorder:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1.25rem;
    min-width: 1.25rem;
    height: 2px;
    background: #fff;
}

/*
@media screen and (max-width: 479px) {
    .carousel-caption p {
        margin-top: 20%;
    }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
    .carousel-caption p {
        margin-top: 30%;
    }
}

@media screen and (min-width: 641px) {
    .carousel-caption p {
        margin-top: 40%;
    }
}
*/


.menu {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33.33%);
    pointer-events: none;
}
nav.menu a {
    text-decoration: none;
}
nav.menu a:hover {
    text-decoration: none;
    color: #f9cc41;
}
.menu--open {
    pointer-events: auto;
}

.menu__item {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.menu__item-inner {
    overflow: hidden;
    transform: translate3d(100%, 0, 0);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__item--1 .menu__item-inner {
    background: var(--color-bg-item1);
}

.menu__item--2 .menu__item-inner {
    background: var(--color-bg-item2);
}

.menu__item--3 .menu__item-inner {
    background: var(--color-bg-item3);
}

.menu__item--4 .menu__item-inner {
    background: var(--color-bg-item4);
}

.menu__item--5 .menu__item-inner {
    background: var(--color-bg-item5);
}

.menu__item--4,
.menu__item--5 {
    display: none;
}

.label {
    display: none;
}

.mainmenu__item {
    opacity: 0;
}

.mainmenu__item,
.sidemenu__item {
    position: relative;
    overflow: hidden;
    transition: color 0.1s;
    margin: 0.25rem 0;
    display: block;
    color: #f2f2f2;
}

.sidemenu__item-inner {
    display: block;
    transform: translate3d(0, 100%, 0);
}

.menu__item-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/2.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.8, 1);
}

.menu__item-inner:hover .menu__item-map {
    transform: scale3d(1.1, 1.1, 1);
}

.menu__item-hoverlink {
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    z-index: 1000;
    display: block;
}

.menu__item-hoverlink:hover {
    color: var(--color-link);
}

.quote {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    max-width: 70%;
    color: var(--color-quote);
    font-family: "sabbath-black", serif;
}

.menu__item-link {
    color: #f2f2f2;
    text-align: left;
    align-self: flex-start;
    justify-self: start;
    font-size: 1.5rem;
    width: 100%;
    line-height: 1;
    padding: 2rem;
    margin: 3rem 0 auto;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
}

.menu__item-link::after {
    content: '\27F6';
    display: block;
    margin-top: auto;
    font-size: 0.95rem;
}

@media screen and (min-width: 53em) {}



/*about*/
.section--about {
    padding: 5rem 5rem;
    background-color: #262533;
}

.about-card-item--single:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9cc41;
    clip-path: polygon(58% 0, 65% 6%, 94% 6%, 94% 38%, 100% 43%, 100% 0);
    left: 0px;
    bottom: -1px;
    transform: rotate(180deg);
    z-index: 1;
}

.about-card-item--single {
    position: relative;
    /*  width: 50%;*/
}

.about-item--image {
    display: block;
    width: 100%;
    height: auto;
}

.about-item-img--overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9cc41 !important;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.about-card-item--single:hover .about-item-img--overlay {
    height: 100%;
    opacity: .7;
}

.about-section--title h4,
h5,
p {
    font-family: 'Roboto', sans-serif;
}

.about-section--title h5 {
    font-size: 0.75rem;
    color: #f9cc41;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.about-section--title h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.625rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.about-section--title p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    color: #ccc;
    margin-bottom: 20px !important;
}

.about-project--short-overview {
    border-radius: 0px;
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.1);
    transition: all .4s;
}

.about-project--short-overview svg {
    font-size: 2.625rem;
    color: #f9cc41;
}

.about-project--short-overview .media-body {
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    margin-bottom: .2rem;
}

.about-project--short-overview:hover{
    /* background: #f9cc41; */
    color: #262533;
}

.about-project--short-overview.btn-ripple {
    /*	display: inline-block;*/
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .5s;
}

.about-project--short-overview.btn-ripple::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 1s;
    transform: scale(5, 5);
}

.about-project--short-overview.btn-ripple:active::after {
    padding: 0;
    margin: 0;
    opacity: .2;
    transition: 0s;
    transform: scale(0, 0);
}

/*portfolio*/
.section--portfolio {
    padding: 5rem 5rem;
    background-color: #f2f2f2;
}

.section--portfolio .carousel {
    margin: 50px auto;
    padding: 0 70px;
}

.section--portfolio .carousel .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}

.section--portfolio .carousel .carousel-item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}

.section--portfolio .carousel .carousel-item h4 {
    font-size: 18px;
    margin: 10px 0;
}

.section--portfolio .carousel .carousel-item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}

.section--portfolio .carousel .carousel-item .btn:hover,
.carousel .carousel-item .btn:focus {
    color: #fff;
    background: #262533;
    border-color: #000;
    box-shadow: none;
}

.section--portfolio .carousel .carousel-item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.section--portfolio .carousel .thumb-wrapper {
    text-align: center;
}

.carousel .thumb-content {
    padding: 15px;
}

.section--portfolio .carousel-control-prev,
.carousel-control-next {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: #ffc107;
}

.section--portfolio .carousel-control-prev i,
.carousel-control-next i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}

.section--portfolio .carousel-control-prev i {
    margin-left: -3px;
}

.section--portfolio .carousel-control-next i {
    margin-right: -3px;
}

.section--portfolio .carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.section--portfolio .carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}

.section--portfolio .carousel .item-price span {
    color: #86bd57;
    font-size: 110%;
}

.section--portfolio .carousel .carousel-indicators {
    bottom: -50px;
}

.section--portfolio .carousel-indicators li,
.section--portfolio .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
    border: none;
}

.section--portfolio .carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

.section--portfolio .carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.section--portfolio .star-rating li {
    padding: 0;
}

.section--portfolio .star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.portfolio__img {
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    position: relative;
}

.portfolio__img:before,
.portfolio__img:after {
    content: '';
    background: #262533;
    width: 10px;
    height: 90%;
    box-shadow: 15px 0 0 #f9cc41;
    transform: skewY(50deg);
    position: absolute;
    bottom: -100%;
    left: 5px;
    z-index: 1;
    transition: all 0.45s ease;
}

.portfolio__img:after {
    box-shadow: -15px 0 0 #f9cc41;
    left: auto;
    right: 5px;
    bottom: auto;
    top: -100%;
}

.portfolio__img:hover:before {
    bottom: -10px;
}

.portfolio__img:hover:after {
    top: -10px;
}

.portfolio__img img {
    width: 100%;
    height: auto;
    transition: all 0.45s;
}

.portfolio__img:hover img {
    opacity: 0.3;
    filter: grayscale(90%);
}

.portfolio__img .box-content {
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0 30px;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.45s ease;
}

.portfolio__img:hover .box-content {
    opacity: 1;
}

.portfolio__img .title {
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 2px;
}

.portfolio__img .post {
    color: #f9cc41;
    font-size: 16px;
    text-transform: capitalize;
}

@media only screen and (max-width:990px) {
    .box {
        margin: 0 0 30px;
    }
}


/*service*/
.section--service {
    padding: 5rem 5rem;
    background-color: #f9f9f9;
    /* background-image: url("../img/bg.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section--service h1,
.section--service h2,
.section--service h3,
.section--service h4,
.section--service h5,
.section--service h6,
.section--service p {
    font-family: 'Roboto', sans-serif;
    color: #262533;
}

.section--service p {
    font-family: 'Roboto', sans-serif;
    color: #262533;
}

.section--service h6 {
    line-height: 22px;
    font-size: 18px;
}

.section--service .font-weight-medium {
    font-weight: 500;
}

.section--service .badge {
    line-height: 14px;
}


.section--service .subtitle {
    color: #262533;
    line-height: 24px;
}

.section--service .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.section--service .img-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}

.section--service .wrap-service12 .img-hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.section--service .wrap-service12 .img-hover:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.section--service .wrap-service12 .uneven-box {
    margin-top: 100px;
}

.section--service .btn-info-gradiant {
    font-family: 'Roboto', sans-serif;
    background: #f9cc41;

}

.section--service .btn-info-gradiant:hover {
    background: #262533;
    color: #f9cc41;

}

.section--service .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.service-img-item--single:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9cc41;
    clip-path: polygon(58% 0, 65% 6%, 94% 6%, 94% 38%, 100% 43%, 100% 0);
    left: 15px;
    bottom: -1px;
    transform: rotate(180deg);
    z-index: 1;
}

/*known more*/
.section--known-more {
    padding: 5rem 5rem;
    background-color: #f1f1f1;
}

.section--known-more .badge {
    line-height: 14px;
}

.section--known-more .badge-info {
    background: #f9cc41;
}

.section--known-more .wrap-service-26 .max-box {
    max-width: 580px;
}

.section--known-more a {
    text-decoration: none;
}

.section--known-more .linking {
    color: #3e4555;
}

.section--known-more .linking:hover {
    color: #f9cc41;
}

.section--known-more .figure-caption {
    font-size: 90%;
    color: #222;
}
/*filter page*/
/*section-floor-filter*/
/*search box css start here*/
.project-sorting-section--search {
    background: #f9f9f9;
    padding: 10rem 5rem 3rem 5rem;
}

.project-sorting-section--search .search-item {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 3px;
    background-clip: inherit;
    
}

.project-sorting-section--search .searching-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    background-color: #f9cc41;
    border: 1px solid #f9cc41;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    height: calc(3rem + 2px) !important;
    border-radius: 3px;
    margin: 31px 0px;
}
.project-sorting-section--search .searching-btn:hover {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #f9cc41;
    background-color: #262533;
    border: 1px solid #262533;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    height: calc(3rem + 2px) !important;
    border-radius: 3px;
    margin: 31px 0px;
}
.filter-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 30px;
}
/*section-project-filter-list*/
.section-project-filter-list{
    padding:5rem;
    background-color: #f1f1f1;
}
.project-single-item a{
    list-style: none;
    text-decoration: none;
    color: #222;
}
.project-single-item a:hover{
    list-style: none;
    text-decoration: none;
    color: #f9cc41;
}
.project-single-item span ul{
    margin: 0;
    padding: 0;
}
.project-single-item ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid #ddd;
    margin: 0 0;
    padding: 0 5px 0px 0px;
    
}
.project-single-item p{
    margin: 0;
}
/*project info*/
.section--project-info {
    background: #f9cc41;
    padding: 5rem 5rem;
}

.btn-dark {
    background: #262533;
    border-color: #262533;
    color: #f9cc41;
    padding: .7rem 1.4rem;
}

.btn-dark:hover {
    border-color: #262533;
    color: #262533;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/*project--section*/

.project-details--banner {
    background:linear-gradient(0deg, rgba(255, 250, 253, 0.3), rgba(255, 255, 255, 0.3)),url("../img/bg.jpg") ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative; */
}

span.block-border::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    background-color: #f9cc41;
    content: "";
    height: 3px;
    opacity: .8;
    width: 95%;
    margin: 0 auto;
}

span.block-border {
    position: relative;
}

.project-details--banner h1 {
    color: #262533;
    text-align: left;
    padding: 200px 225px 200px 122px;
    font-size: 72px;
    line-height: 85px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px auto 25px;
    opacity: 1;
}

.section--project-details-block {
    padding: 5rem 5rem;
    background-color: #f2f2f2;
}


.project-details-sldier .carousel-indicators {
    bottom: 15px;
}

.project-details-sldier .carousel-indicators .active {
    opacity: 1;
    height: 5px;
    width: 5%;
    margin: -1px 0px;
    background-color: #f9cc41;
}
.project-details-sldier .carousel-indicators li{
        background-color: #262533;
}

.project-details-sldier .carousel-control.right,
.project-details-sldier .carousel-control.left {
    background-image: none;
}

.project-details-sldier .carousel-item {
    min-height: 500px;
    height: 100%;
    width: 100%;
}

.project-details-sldier .carousel-caption h3,
.project-details-sldier .carousel .icon-container,
.project-details-sldier .carousel-caption button {
    background-color: #09c;
}

.project-details-sldier .carousel-caption h3 {
    padding: .5em;
}

.project-details-sldier .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.project-details-sldier .carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}

/* Animation delays */
.project-details-sldier .carousel-caption h3:first-child {
    animation-delay: 1s;
}

.project-details-sldier .carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}

.project-details-sldier .carousel-caption button {
    animation-delay: 3s;
}


.at-a-galance .list-header {
    text-align: left;
    margin-left: 10px;
    text-transform: uppercase
}

.at-a-galance ul {
    padding-top: 40px;
    position: absolute;
    top: 40px;
    left: 5px;
}

.at-a-galance ul li {
    list-style: none;
    margin: 15px;
    position: relative;
    font-size: 13px;
}

.at-a-galance ul li::before {
    position: absolute;
    left: 70px;
    right: 0;
    content: '';
    top: 10px;
    /* background: #ddd; */
    height: 1px;
    width: 75%;

}

.feature-animation .list-header {
    text-align: right;
    margin-right: 20px;
    text-transform: uppercase
}

.feature-animation ul {
    padding-top: 40px;
    direction: rtl;
    bottom: 0;
    position: absolute;
    padding: 0;
    right: 40px;
}

.feature-animation ul li {
    list-style: none;
    position: relative;
    direction: rtl;
    text-align: right;
    font-size: 13px;
}

.feature-animation ul li::after {
    position: absolute;
    left: 0;
    right: 100px;
    content: '';
    top: 10px;
    /* background: #ddd; */
    height: 1px;
    width: 75%;
    z-index: 22;
    color: red;
}

.bolck-gallery {
    height: 100%;
    width: 100%;
    margin: 50% 0;
}

.bolck-gallery img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 10px;
}

.list-with--img {
    height: 100%;
    width: 100%;
}

.list-with--img img {
    height: 600px;
    width: 400px;
    right: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.section--project-details {
    padding: 5rem 5rem;
    background-color: #f9f9f9;

}

.project-detials-list ul li {
    margin: 10px -5px;
    list-style: none;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.project-booking--form .form-control {
    padding: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;

}

.project-booking--form .form-control::placeholder {
    color: #ccc;
    opacity: 1;
    /* Firefox */
}

.project-booking--form .form-control::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
}

.project-booking--form .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
}

.project-booking--form .nice-select {
    width: 100%;
    padding-left: 0;
    border-radius: 0;
    border: 0;
    margin-bottom: 1rem;
    border-bottom: solid 1px #ced4da;
}

.nav-pills-custom .nav-link.active {
    color: #262533;
    background: #fff;
}

.ripple {
    background-color: #f1f1f1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    animation: ripple 3s linear infinite
}

.ripple::before,
.ripple::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    animation: ripple 3s linear infinite 1s
}

.ripple::after {
    animation: ripple 3s linear infinite 2s
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 .7rem rgba(10, 11, 17, 0.2)
    }

    100% {
        box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0)
    }
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

/*section--feature-properties*/
.section--feature-properties {
    padding: 5rem 5rem;
    background-color: #f2f2f2;
}

.feature-item--img {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 0px #f9cc41;
}

.section--feature-properties nav > .nav.nav-tabs {

    border: none;
    color: #fff;
    background: #272e38;
    border-radius: 0;

}

.section--feature-properties nav > div a.nav-item.nav-link,
.section--feature-properties nav > div a.nav-item.nav-link.active {
    font-size: 30px;
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}

.section--feature-properties nav > div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -75px;
    left: -30%;
    border: 15px solid transparent;
    border-top-color: #f9cc41;
}

.section--feature-properties .tab-content {
    background: #262533;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2;
    padding: 10rem 17rem;
}

.section--feature-properties nav > div a.nav-item.nav-link:hover,
.section--feature-properties nav > div a.nav-item.nav-link:focus {
    border: none;
    background: #f9cc41;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}
.feature-content--box .feature-content__title h1{
    color: #f2f2f2;
    font-size: 91px;
    padding-bottom: 0px;
    line-height: 91px;
    font-family: 'Oswald', sans-serif;
}
.feature-content--box .feature-content__title p{
    font-size: 24px;
    line-height: 42px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px ;
    color: #f2f2f2!important;
}
.feature-btn{
    color: #fff;
    background-color: #f9cc41 !important;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0;
}
.feature-content-img img{
    height: 100%;
    width: 100%;
}
/*map*/
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.location-block {
    margin-bottom: 20px;
}

.location-content {
    font-size: 14px;
    font-weight: 500;
}

.location-head {
    margin-bottom: 20px;
}

.location-icon {
    font-size: 18px;
    color: #023981;
    padding-right: 6px;
}

.location-title {
    font-weight: 600;
    color: #023981;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.info_content {
    background-color: #fff;
    padding: 10px;
}

.info_location_name {
    color: #023981;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.info_location_text {
    margin-bottom: 10px;
    color: #767a7f;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.info_location_call {
    font-size: 14px;
    color: #2e3133;
    font-weight: 600;
}

.info_location_call span {
    padding-right: 8px;
    font-size: 14px;
    color: #023981;
}

.social-feed {
    padding: 5rem 5rem;
    background-color: #f2f2f2;
}

.instagram_feed p {
    color: #262533;
}

.instagram_feed a {
    color: #262533;
}

.social-media--instagram {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
    height: 470px;
    overflow: hidden;
    overflow-y: scroll;

}

.social-media--video {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
    height: 470px;
    text-align: center;

}

.social-media--video h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

/* news and event */

.news-event--banner {
    background:linear-gradient(0deg, rgba(255, 250, 253, 0.3), rgba(255, 255, 255, 0.3)),url("../img/bg.jpg") ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.about-company-section{
    padding: 5rem;
}

.icon-list {
    padding-left: 0;
    list-style: none;
  }
  .icon-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;
  }

/*footer*/
.section--footer {
    background: #262533;
    color: #fff;
    padding: 1rem;
}


.footer-wrap {
    padding-top: 5rem;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}


.footer-links li:before {
    content: "›";
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "›";
    padding-right: 10px;
    color: #b3b3b3;
}

.social_links ul li {
    display: inline-block;
    list-style: none;
    background-color: #f9cc41;
    height: 40px;
    width: 40px;
    padding: 8px 12px;
}

.social_links ul li a:hover {
    color: #262533;
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
}

footer .company-info {
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}

footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}

footer .first_class p,
footer .first_class h3 {
    margin: 0 0;

}

footer {
    background: #262533;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .company-info_bdr {
    padding-top: 25px;
    border-top: 1px solid #222;
}

footer dl,
ol,
ul {
    padding-left: 5px;
}

footer li {
    list-style: none;
}